@font-face {
    font-family:"PlayfairDisplay-Black";
    src: url("../fonts/PlayfairDisplay-Black.otf");
}
* {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

svg {
  position: absolute;
  right: 0;
  left: 0;
  display: block;
  margin: 0 auto;
}
text {
  font-size: 48;
}
h1 {
  font-family: "Playfair Display", serif;
}
address {
  margin-top:10px;
  font-size:1.5em;
}
.form-group {
  margin: 0;
}
#phone-title {
  display: none;
}
#svg-container {
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
}
#envelope {
  position: absolute;
  top: -5px;
  left: -40px;
  z-index: -1;
  width: 750px;
}
#forms-div {
  position: relative;
  width: 100%;
  margin-top: 35px;
}
#changable-form {
  position: relative;
  top: 0;
  left: 25px;
  display: none;
  width: 650px;
  height: 457px;
  padding: 10px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 7px #888888;
}
#changable-form form {
  color: #333333;
  text-align: left;
}
#thanks {
  display: none;
}
#signin {
  display: none;
}
#update {
  display: none;
}
#form-div img {
  position: absolute;
  left: 0;
  width: 650px;
  box-shadow: 0 0 7px #777777;
}
#form-div img:first-child{
  box-shadow:none;
}
#form-div {
  position: relative;
  width: 600px;
  margin: 0 auto;
}
#rsvp-form input:not([type="radio"]) {
  position: absolute;
  width: 370px;
  height: 42px;
  padding: 0 10px;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 1.5em;
  text-align: center;
  background: none;
  border: none;
  box-shadow: none;
}
#rsvp-form input[type="radio"] {
  position: absolute;
  padding: 0 10px;
  margin: 0;
  font-size: 1.7em;
  background: none;
  border: none;
  box-shadow: none;
}
#rsvp-form input:focus {
  outline: none;
}
#form-name {
  top: 221px;
  left: 136px;
}
#form-email {
  top: 290px;
  left: 136px;
}
#attending-y {
  top: 381px;
  left: 163px;
}
#attending-n {
  top: 381px;
  left: 327px;
}
#rsvp-submit {
  top: 410px;
  left: 136px;
  width: auto;
  font-family: "Lato", sans-serif;
  font-size: 14pt;
  cursor: pointer;
}
#form-email-group .help-block{
  position:relative;
  top:281px;
  left:20px;
}
#form-email-group i{
  top:295px;
  right:70px;
}
@media (max-width: 768px) {
  .sharing-container {
    width: 95%;
    height: 98%;
  }
  #forms-div {
    margin-top: 0;
  }
  #changable-form {
    left: 0;
    width: 100%;
    height: initial;
    background-color: initial;
    box-shadow: none;
  }
  #changable-form img{
    margin:0 auto;
    width:50%;
  }
  #form-div{
  	width:100%;
  }
  #form-div img {
    display: none;
  	position: static;
  	margin:0 auto;
  	width: 50%;
  	box-shadow: none;
  }
  #envelope {
    display: none;
  }
  #rsvp-form{
  	text-align:left;
  }
  #rsvp-form input:not([type="radio"]) {
    position: static;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 1.3em;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  }
  #rsvp-form input[type="radio"] {
    position: static;
    padding: 6px 12px;
    margin: 0;
    font-size: 1.7em;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  }
  #rsvp-form input:focus {
    border-color:#66afe9;
  }
  #rsvp-form input#rsvp-submit {
  	text-align:center;
    border:none;
    background:none;
    box-shadow:none;
  }
  #form-email-group .help-block{
  position:static;
  top:inherit;
  left:inherit;
  }
  #form-email-group i{
    top:25px;
    right:0px;
  }
}
@media (max-width: 480px) {
  svg {
    display: none;
  }
  address{
    margin-top:5px;
    font-size:1.3em;
  }
  #phone-title {
    position:relative;
    display: block;
    margin-top:50%;
    top:-150px;
  }
  #phone-title h1 {
    font-size: 40px;
    line-height: 43px;
  }
}