body {
  padding: 0;
  margin: 0;
}
.socks-container {
  position: relative;
  width: 522px;
  height: 483px;
  margin: 0 auto;
}
h2 {
  display: block;
  padding: 0;
  margin: 0;
  margin-top: 30px;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
}

h1 {
  display: block;
  padding: 0;
  margin: 0;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

div#menu {
  position: fixed;
  top: 50%;
  right: 15px;
  z-index: 999;
  margin-top: -200px;
}

div#menu a {
  display: block;
  margin-bottom: 15px;
}
/*---all will happen in the fixed window-----*/
#scene-body {
  position: fixed;
  width: 100%;
  height: 100%;
}

/* Welcome Scene*/
#welcome-scene {
  position: absolute;
  z-index: 110;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #ffffff;
  background-color: #520700;
}
.welcome-logo {
  width: 35%;
  height: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80% auto;
}
.welcome-scroll-text {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 108px;
  margin-left: -54px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 5px;
}
/** SNOW SCENE **/
#snow-scene {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #ffffff;
  text-align: center;
  background-color: #9bdbe3;
}
.snow-socks {
  background-image: url("images/socks_01.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
}
#snow-container {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.text-container {
  margin-top: 150px;
}
#cloud1 {
  position: absolute;
  top: 100px;
  left: -100px;
  width: 169px;
  height: 71px;
  background-image: url("images/cloud_01.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#cloud2 {
  position: absolute;
  top: 180px;
  right: -60px;
  width: 205px;
  height: 87px;
  background-image: url("images/cloud_02.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#cloud3 {
  position: absolute;
  top: 280px;
  right: -260px;
  width: 120px;
  height: 50px;
  background-image: url("images/cloud_02.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#cloud4 {
  position: absolute;
  top: 280px;
  left: 10px;
  width: 135px;
  height: 55px;
  background-image: url("images/cloud_02.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.snowball-big {
  position: absolute;
  top: -1%;
  width: 8px;
  height: 8px;
  background-color: #ffffff;
          border-radius: 4px;
          opacity: 0.90;

     -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
     -moz-opacity: 0.90;
  -webkit-opacity: 0.90;
}
.snowball-small {
  position: absolute;
  top: -1%;
  width: 6px;
  height: 6px;
  background-color: #ffffff;
          border-radius: 3px;
          opacity: 0.90;

     -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
     -moz-opacity: 0.90;
  -webkit-opacity: 0.90;
}
.snowball-tiny {
  position: absolute;
  top: -1%;
  width: 4px;
  height: 4px;
  background-color: #ffffff;
          border-radius: 2px;
          opacity: 0.90;

     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
     -moz-opacity: 0.90;
  -webkit-opacity: 0.90;
}

/** RAIN SCENE **/
#rain-scene {
  position: absolute;
  z-index: 90;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #ffffff;
  text-align: center;
  background-color: #403e44;
}
#rain-scene img {
  height: 100px;
  margin-top: 80px;
}
.rain-socks {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  height: 100%;
  background-image: url("images/socks_02.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
}

#cloud-front {
  position: absolute;
  top: 30px;
  left: 89px;
  z-index: 90;
  width: 345px;
  height: 118px;
  background-image: url("images/cloud_front.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#cloud-back-1 {
  position: absolute;
  top: 30px;
  left: 25px;
  z-index: 85;
  width: 149px;
  height: 64px;
  background-image: url("images/cloud_back_01.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#cloud-back-2 {
  position: absolute;
  top: 37px;
  right: 10px;
  z-index: 85;
  width: 169px;
  height: 71px;
  background-image: url("images/cloud_back_02.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#cloud-back-3 {
  position: absolute;
  top: 104px;
  left: 0;
  z-index: 85;
  width: 160px;
  height: 68px;
  background-image: url("images/cloud_back_03.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#cloud-back-4 {
  position: absolute;
  top: 110px;
  right: -45px;
  z-index: 85;
  width: 181px;
  height: 78px;
  background-image: url("images/cloud_back_04.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#cloud-back-5 {
  position: absolute;
  top: 160px;
  left: -120px;
  z-index: 85;
  width: 149px;
  height: 64px;
  background-image: url("images/cloud_back_01.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: scaleX(-1);
}
#cloud-back-6 {
  position: absolute;
  top: 190px;
  right: -120px;
  z-index: 85;
  width: 149px;
  height: 64px;
  background-image: url("images/cloud_back_01.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#rain-pool {
  position: absolute;
  bottom: 10px;
  left: 7px;
  z-index: 85;
  width: 516px;
  height: 53px;
  background-image: url("images/rain-pool.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#rain-container {
  position: relative;
  top: 148px;
  width: 345px;
  height: 310px;
  margin: 0 auto;
  overflow: hidden;
}
.raindrop {
  position: absolute;
  top: -40px;
  z-index: 90;
          opacity: 0.90;

     -moz-opacity: 0.90;
  -webkit-opacity: 0.90;
}
.raindrop-big {
  width: 30px;
  height: 40px;
  background-image: url("images/raindrops.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.raindrop-small {
  width: 25px;
  height: 32px;
  background-image: url("images/raindrops.png");
  background-repeat: no-repeat;
  background-position: -30px -8px;
}
.raindrop-tiny {
  width: 19px;
  height: 24px;
  background-image: url("images/raindrops.png");
  background-repeat: no-repeat;
  background-position: -55px -16px;
}


/** NAILS SCENE **/
#nails-scene {
  position: absolute;
  z-index: 80;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #ffffff;
  text-align: center;
  background-color: #004c28;
}
.nails-socks {
  background-image: url("images/socks_03.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
}
.cactus {
  position: absolute;
  bottom: -7px;
  left: 50%;
  z-index: 75;
  display: none;
  width: 786px;
  height: 300px;
  margin-left: -393px;
  background-image: url("images/cactus.png");
  background-repeat: no-repeat;
}
.nails {
  position: relative;
  top: -20px;
  z-index: -1;
  width: 701px;
  height: 201px;
  margin: 0 auto;
}

/** OBSCTACLES SCENE **/
#obstacles-scene {
  position: absolute;
  z-index: 70;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #0c324d;
  background-image: url("images/octo_01.png");
  background-repeat: no-repeat;
  background-position: center 120px;
}
.obstacles-socks {
  background-image: url("images/socks_04.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
}
.obstacles {
  position: relative;
  top: -10px;
  width: 778px;
  height: 200px;
  margin: 0 auto;
  background-image: url("images/obstcales.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/** LOVE SCENE **/
#love-scene {
  position: absolute;
  z-index: 60;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #e73838;
}
.love-socks {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 60;
  width: 100%;
  height: 100%;
  background-image: url("images/socks_05.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
}
#love-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 55;
  width: 100%;
  height: 100%;
  background-image: url("images/heart_bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
}
#heart-1 {
  position: absolute;
  top: 300px;
  left: 200px;
  z-index: 60;
  width: 44px;
  height: 46px;
  background-image: url("images/hearts_01.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#heart-2 {
  position: absolute;
  top: 250px;
  left: 250px;
  z-index: 60;
  width: 66px;
  height: 59px;
  background-image: url("images/hearts_02.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@keyframes heartbeat {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@-webkit-keyframes heartbeat {
  0% {
    -webkit-opacity: 1;
  }
  100% {
    -webkit-opacity: 0.5;
  }
}
@-moz-keyframes heartbeat {
  0% {
    -moz-opacity: 1;
  }
  100% {
    -moz-opacity: 0.5;
  }
}
@-ms-keyframes heartbeat {
  0% {
    -ms-opacity: 1;
  }
  100% {
    -ms-opacity: 0.5;
  }
}
.anm-heartbeat {
  -webkit-animation-name: heartbeat;
     -moz-animation-name: heartbeat;
      -ms-animation-name: heartbeat;
       -o-animation-name: heartbeat;
          animation-name: heartbeat;
  -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
      -ms-animation-duration: 1s;
       -o-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
}
/* Blessings scene*/
#blessings-scene {
  position: absolute;
  z-index: 40;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #c64666;
  background-image: url("images/stars.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.blessings-socks {
  background-image: url("images/socks_06.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
}
.blessings-angel {
  position: absolute;
  top: 60px; /* animated to 60px;*/
  left: -165px; /* animated to -165px*/
  width: 243px;
  height: 282px;
  background-image: url("images/angel_01.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.blessings-angel:not(.inverted-angel) {
  animation: hover-angel 5s infinite;
}
.inverted-angel {
  top: 70px;
  right: -69px;
  left: auto;
  width: 174px;
  height: 193px;
  filter: FlipH;
  transform: scaleX(-1);
  transform-origin: bottom right;
  animation: hover-angel-r 5s infinite;
}
@keyframes hover-angel {
  0% {
    transform: translateY(100px) rotate(10deg);
  }
  50% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(100px) rotate(10deg);
  }
}
@keyframes hover-angel-r {
  0% {
    transform: translateY(75px) scaleX(-1) rotate(10deg);
  }
  50% {
    transform: translateY(0) scaleX(-1) rotate(0deg);
  }
  100% {
    transform: translateY(75px) scaleX(-1) rotate(10deg);
  }
}
/*Celebrate Scene*/
#celebrate-scene {
  position: absolute;
  z-index: 30;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #68bd9c;
  background-image: url("images/flags.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
}
.celebrate-socks {
  background-image: url("images/socks_07.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
}
#confetti-container {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.confetti {
  position: absolute;
  top: -40px;
}
.conf-1 {
  width: 42px;
  height: 81px;
  background-image: url("images/conf-1.png");
  background-repeat: no-repeat;
}
.conf-2 {
  width: 25px;
  height: 24px;
  background-image: url("images/conf-2.png");
  background-repeat: no-repeat;
}
.conf-3 {
  width: 34px;
  height: 38px;
  background-image: url("images/conf-3.png");
  background-repeat: no-repeat;
}
.conf-4 {
  width: 10px;
  height: 14px;
  background-image: url("images/conf-4.png");
  background-repeat: no-repeat;
}
.conf-5 {
  width: 28px;
  height: 21px;
  background-image: url("images/conf-5.png");
  background-repeat: no-repeat;
}
.conf-6 {
  width: 4px;
  height: 4px;
  background-color: #f4a185;
  border-radius: 50%;
}
.conf-7 {
  width: 4px;
  height: 4px;
  background-color: #ffda00;
  border-radius: 50%;
}
/* Tentacle Animations */

#tentacles-svg {
  width: 100%;
}

#XMLID_24_,
.XMLID_24_ {
  position: absolute;
  transform-origin: bottom right;
  animation: raise-tentacle 4s infinite;
}
#XMLID_23_,
.XMLID_23_ {
  position: absolute;
  transform: translateY(40px) translateX(-80px);
  animation: raise-tentacle-r 4s infinite;
  animation-delay: 1s;
}
#XMLID_1_ {
  position: absolute;
  transform-origin: 0 128%;
  animation: single-tilt 2s infinite;
}

@keyframes single-tilt {
  0% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(2deg);
  }
}
@keyframes raise-tentacle {
  0% {
    transform: translateY(40px) translateX(80px);
  }
  50% {
    transform: translateY(0px) translateX(0);
  }
  100% {
    transform: translateY(40px) translateX(80px);
  }
}
@keyframes raise-tentacle-r {
  0% {
    transform: translateY(40px) translateX(-80px);
  }
  50% {
    transform: translateY(0px) translateX(0);
  }
  100% {
    transform: translateY(40px) translateX(-80px);
  }
}
/*Nails animation*/
#black-nails {
  position: absolute;
  animation: raise-nails 3s infinite;
}
#white-nails {
  position: absolute;
  transform: translateY(30px);
  animation: raise-nails 3s infinite;
  animation-delay: 1.5s;
}
@keyframes raise-nails {
  0% {
    transform: translateY(30px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(30px);
  }
}


/** NAILS SCENE **/
#sharing-scene {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: #fffef7;
}
/** Sharing Scene **/
.sharing-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 70%;
  height: 70%;
  margin: auto;
  text-align: center;
}
.logo-share {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.logo-share img {
  width: 100%;
  height: 100%;
}

#sharing-scene h1 {
  margin-top: 30px;
  font-size: 46px;
  line-height: 46px;
  color: #333333;
}

#sharing-scene h2 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60px;
  color: #333333;
}

.sharing-social {
  margin-top: 20px;
}

.sharing-social a {
  text-decoration: none;
}
/*Menu sprites*/
.s-1,
.s-1_off,
.s-2,
.s-2_off,
.s-3,
.s-3_off,
.s-4,
.s-4_off,
.s-5,
.s-5_off,
.s-6,
.s-6_off,
.s-7,
.s-7_off,
.s-8,
.s-8_off,
.s-9,
.s-9_off {
  background: url(/images/sprites.png) no-repeat;
}
.s-1_off.active {
  width: 29px;
  height: 30px;
  background-position: 0 0;
}
.s-1_off {
  width: 29px;
  height: 30px;
  background-position: -32px 0;
}
.s-2_off.active {
  width: 27px;
  height: 34px;
  background-position: 0 -40px ;
}
.s-2_off {
  width: 27px;
  height: 34px;
  background-position: -31px -40px ;
}
.s-3_off.active {
  width: 27px;
  height: 34px;
  background-position: 0 -78px ;
}
.s-3_off {
  width: 27px;
  height: 34px;
  background-position: -28px -78px ;
}
.s-4_off.active {
  width: 21px;
  height: 34px;
  margin-left: 5px;
  background-position: 0 -117px ;
}
.s-4_off {
  width: 21px;
  height: 34px;
  margin-left: 5px;
  background-position: -22px -117px ;
}
.s-5_off.active {
  width: 40px;
  height: 30px;
  margin-left: -6px;
  background-position: 0 -155px ;
}
.s-5_off {
  width: 40px;
  height: 30px;
  margin-left: -6px;
  background-position: -45px -157px ;
}
.s-6_off.active {
  width: 27px;
  height: 21px;
  background-position: 0 -192px ;
}
.s-6_off {
  width: 27px;
  height: 21px;
  background-position: -30px -192px ;
}
.s-7_off.active {
  width: 27px;
  height: 25px;
  background-position: 0 -215px ;
}
.s-7_off {
  width: 27px;
  height: 25px;
  background-position: -30px -215px ;
}
.s-8_off.active {
  width: 27px;
  height: 32px;
  background-position: 0 -247px ;
}
.s-8_off {
  width: 27px;
  height: 32px;
  background-position: -31px -247px ;
}
.s-9_off.active {
  width: 26px;
  height: 23px;
  background-position: 0 -286px ;
}
.s-9_off {
  width: 26px;
  height: 23px;
  background-position: -30px -286px ;
}