/**
 * Mobile  
 * 
 */
@media screen and  (max-height: 579px) {
  div#menu {
    display: none;
  }

  .socks-container {
    width: 234px;
    height: 217px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 27px;
    line-height: 30px;
  }

  h1 {
    font-size: 30px;
    line-height: 30px;
  }

  div.welcome-logo {
    width: 150px;
    background-size: 100% auto;
  }

  #address {
    margin-top: 5px;
  }



  /** Snow Scene **/
  #cloud1,
  #cloud2,
  #cloud3,
  #cloud4 {
    display: none;
  }

  /** Rain Scene **/
  /** Rain Scene **/
  #cloud-front,
  #cloud-back-1,
  #cloud-back-2,
  #cloud-back-3,
  #cloud-back-4,
  #cloud-back-5,
  #cloud-back-6,
  #rain-pool,
  #rain-container,
  .raindrop-tiny,
  .raindrop-small,
  .raindrop-big {
    display: none;
  }

  /** Nails Scene **/
  .nails {
    display: none;
  }


  /** Obstacles Scene **/
  .obstacles {
    display: none;
  }
  /** Hearts Scene **/
  #heart-1,
  #heart-2 {
    display: none;
  }

  /** Blessing scene **/
  .blessings-angel,
  .inverted-angel {
    display: none;
  }

  /** Celebration Scene **/
  #celebrate-scene {
    background-image: none;
  }
  .celebrate-flags,
  #confetti-container {
    display: none;
  }
  .sharing-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 90%;
    margin: auto;
  }
  div.logo-share {
    width: 150px;
    height: 150px;
  }

  #sharing-scene h1 {
    margin-top: 20px;
    font-size: 23px;
    line-height: 25px;
  }

  #sharing-scene h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 44px;
    line-height: 44px;
  }

  /** Awards **/
  div.csswinner {
    top: 20px;
  }
  div.csswinner a {
    width: 40px;
    height: 30px;
  }

  div.opl {
    top: 60px;
  }
  div.opl a {
    width: 36px;
    height: 28px;
  }

  div.opm-ribbon {
    top: 98px; ;
  }

  div.opm-ribbon a {
    width: 33px;
    height: 43px;
  }
  div.reelwinner {
    top: 150px;
  }
  div.reelwinner a {
    width: 30px;
    height: 50px;
  }
  .text-container {
    margin-top: 10px;
  }
}

/**
 * Small Tablets  
 * Everything is reduced to 60%
 */
@media screen and (min-height: 580px) and (max-height: 801px) {
  h2 {
    font-size: 39px;
    line-height: 42px;
  }

  h1 {
    font-size: 60px;
    line-height: 60px;
  }
  .socks-container {
    width: 313px;
    height: 290px;
    margin-bottom: 20px;
  }

  /** Snow Scene **/
  #cloud1 {
    top: 60px;
    width: 101px;
    height: 42px;
    background-image: url("images/cloud_01.png");
  }
  #cloud2 {
    position: absolute;
    top: 120px;
    right: 0;
    width: 123px;
    height: 52px;
  }

  /** Rain Scene **/
  #cloud-front {
    top: 18px;
    left: 53px;
    width: 207px;
    height: 71px;
  }
  #cloud-back-1 {
    top: 8px;
    left: 5px;
    width: 89px;
    height: 64px;
  }
  #cloud-back-2 {
    top: 15px;
    right: -50px;
    width: 169px;
    height: 38px;
  }
  #cloud-back-3 {
    top: 95px;
    left: 5px;
    width: 96px;
    height: 41px;
  }
  #cloud-back-4 {
    top: 98px;
    right: -12px;
    width: 109px;
    height: 47px;
  }
  #rain-pool {
    bottom: 5px;
    left: 2px;
    width: 310px;
    height: 32px;
  }
  #rain-container {
    top: 89px;
    width: 207px;
    height: 190px;
  }
  .raindrop-tiny,
  .raindrop-small,
  .raindrop-big {
    width: 19px;
    height: 24px;
    background-image: url("images/raindrops.png");
    background-repeat: no-repeat;
    background-position: -55px -16px;
  }

  /** Nails Scene **/
  .nails {
    width: 420px !important;
    height: 117px;
  }
  #spikes-svg {
    width: 100%px;
  }

  /** Obstacles Scene **/
  .obstacles {
    width: 466px;
    height: 120px;
  }
  /** Hearts Scene **/
  #heart-1 {
    top: 180px;
    left: 120px;
    width: 26px;
    height: 27px;
  }
  #heart-2 {
    top: 150px;
    left: 150px;
    width: 40px;
    height: 36px;
  }
  /** Blessing scene **/
  .blessings-angel {
    top: 40px; /* animated to 60px;*/
    left: -125px; /* animated to -165px*/
    width: 145px;
    height: 169px;
  }
  .inverted-angel {
    top: 60px;
    right: 10px;
    left: auto;
    width: 104px;
    height: 115px;
  }

  /** Sharing Scene **/
  .sharing-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 80%;
    margin: auto;
  }
  .logo-share {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  .text-container {
    margin-top: 70px;
  }
  #address {
    margin-top: 70px;
  }
  #rain-scene img {
    height: 150px;
    margin-top: 70px;
  }
}


/**
 * Tablets , Laptops and Desktops
 * Everything is reduced to 80%
 */
@media screen and (min-height: 801px) and (max-height: 1024px) {
  .socks-container {
    width: 417px;
    height: 386px;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 52px;
    line-height: 55px;
  }
  h1 {
    font-size: 80px;
    line-height: 80px;
  }

  .text-container {
    margin-top: 150px;
  }
  #rain-scene img {
    height: 200px;
    margin-top: 150px;
  }
  #rain-scene .text-container {
    margin-top: 100px;
  }
  #address {
    margin-top: 100px;
  }
  /** SNOW SCENE **/
  #cloud1 {
    top: 80px;
    left: 0;
    width: 135px;
    height: 57px;
  }
  #cloud2 {
    top: 144px;
    right: -40px;
    width: 164px;
    height: 70px;
  }
  #cloud3 {
    top: 280px;
    right: -120px;
  }
  /** RAIN SCENE **/
  #cloud-front {
    top: 24px;
    left: 72px;
    width: 276px;
    height: 95px;
  }
  #cloud-back-1 {
    top: 24px;
    left: 20px;
    width: 149px;
    height: 64px;
  }
  #cloud-back-2 {
    top: 37px;
    right: 10px;
    width: 119px;
    height: 57px;
  }
  #cloud-back-3 {
    top: 118px;
    left: 0;
    width: 118px;
    height: 55px;
  }
  #cloud-back-4 {
    top: 120px;
    right: -35px;
    width: 145px;
    height: 63px;
  }
  #rain-pool {
    bottom: 8px;
    left: 5px;
    width: 412px;
    height: 43px;
  }
  #rain-container {
    top: 118px;
    width: 276px;
    height: 248px;
    margin: 0 auto;
  }
  /** NAILS SCENE **/
  .nails {
    width: 560px;
    height: 156px;
  }
  /** Obstacles Scene **/
  .obstacles {
    width: 622px;
  }
  /** Love scene **/
  #heart-1 {
    top: 220px;
    left: 150px;
  }
  #heart-2 {
    top: 240px;
    left: 210px;
  }
  /** Blessing scene **/
  .blessings-angel {
    top: 40px; /* animated to 60px;*/
    left: -125px; /* animated to -165px*/
    width: 194px;
    height: 225px;
  }
  .inverted-angel {
    top: 70px;
    right: 10px;
    left: auto;
    width: 139px;
    height: 154px;
  }
}

@media screen and  (max-device-width: 1024px) {
  div#menu {
    display: none;
  }
}